* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding-top: 0.1px;
}

#nav{
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
#nav h3 {
    display: none;
}

#nav h1 {
    /* background-color: green; */
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 40px;
    letter-spacing: -1px;
    position: relative;
}
#nav h1::after{
    content: "©️";
    font-family: sans-serif;
    font-weight: 300;
    font-size: 20px;
    position: absolute;
    top: 3.9%;
    right: 1.5%;
}

#nav h1::before{
    content: "model management";
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1px;
    position: absolute;
    bottom: 6%;
    right: 12%;
    color: #666;
}

#nav h2 {
    /* background-color: green; */
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
    padding: 24px;
    font-size: 24px;
    font-weight: 400;
    
}

#nav h2:nth-last-child(2){
    width:29%;
}
#nav h2:nth-last-child(1){
    width:15%;
}


#center{
    width: 100%;
    height: 90%;
    /* background-color: red; */
    position: relative;
    padding: 4vw;
}

#content{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 52%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: green; */
    padding: 3vw;
    color: #fff;
}

#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}
#over1 h1 {
    font-family: monument;
    font-size: 4vw;
    /* mix-blend-mode: difference; */
}
#over1 h2 {
    font-size: 1vw;
    padding: 2vw 2.3vw;
    /* background-color: blue; */
    border-radius: 50%;
    border: 1px solid #fff;
    border-bottom: 2px solid #fff;
}
#over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    /* padding: top right bottom  left; */
    /* padding: top-bottom left-right; */
    padding: 0.8vw 0;
}
#over2 h4 {
    font-size: 1.4vw;
    font-weight: 500;
}

#over2 img{
    height: 3vw;
}

#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    /* padding: 1vw; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container{
    height: 100%;
    width: 120%;
    /* background-color: blue; */
    display: inline-block;
    padding: 1vw;
    animation-name: animate-scroll;
    animation-duration:  8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll img{
    /* display: none; */
    height: 60%;
    border-radius: 50%;
    width: 12.15%;
    margin: 1.17vw;
    object-fit: cover;
    object-position:inherit;
}

@keyframes animate-scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#alphabet{
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid #000000b1;
    border-bottom: 2px solid #000000b1;

}
#alphabet h5{
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    border-bottom: 2px solid black;
    margin-right: 2vw;

}

#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    /* background-color: yellow; */
    padding: 0.6vw 0.7vw;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all ease 0.2s;
}

#alphabet h6:hover{
    border: 1px solid #000;

}

#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}

#page2-part1{
    height: 100%;
    width: 55%;
    background-color: red;
    background-image: url(https://cdn.pixabay.com/photo/2024/08/16/19/58/ai-generated-8974550_1280.jpg);
    background-size: cover;
    background-position: center;
}
#page2-part2{
    height: 100%;
    width: 40%;
}
#page2-part2 img{
    width: 100%;
    height: 70%;
    object-fit: cover;
}
#text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}

#text h5 {
    font-size: medium;
    text-transform: uppercase;
    text-align: inherit;

}

#text p {
    text-align:end;
    font-size: smaller;
}

#marque {
    /* height: 20vh; */
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0.8vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
#marque h1 {
    display: inline-block;
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black ;
    color: transparent;
    font-family: monument;
    /* background-color: blue; */
    margin-right: 16px;
    letter-spacing: 3px;
    animation-name: animate-marque;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes animate-marque {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}

#footer{
    width: 100%;
    height: 30%;
    /* background-color: red; */
    gap: 1px;
    display: flex;
    align-items: top;
    justify-content: space-between;
    margin-top: 25%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#footer h1 {
    height: 30%;
    width: 32%;
    font-family: monument;
    font-size: 35px;
    letter-spacing: -1px;
    /* background-color: green; */
    margin-left: 2%;
    margin-top: 2%;
   
}

#foot {
/* background-color: blue; */
display: inline-block;
justify-content: end;
align-content: end;
padding: 5%;
border-left: 2px solid #000;
} 

#foot #icons{
    padding: 0 0 2%  0;
}





@media (max-width: 600px){   
    body{
        overflow-x: hidden;
    }
    #nav{
        height: 8vh;
        margin-top: 20px;
        padding: 0 5vw;
    }

    #nav h1 {
        width: 40%;
        justify-content: flex-start;
        font-size: 25px;
        letter-spacing: 1px;
    }
    #nav h3{
        display: block;
    }
    #nav h1::after{
        display: none;
    }
    #nav h2 {
        display: none;
    }

        
    #center{
        width: 100%;
        height: 50%;
        position: relative;
        padding: 3vw 2vw;
    }

    #overlay{
        height: fit-content;
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 3vw;
        color: #fff;
    }

    #over1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2vw;
    }
    #over1 h1 {
        font-size: 5.6vw;
        font-weight: 100;
    }
    #over1 h2 {
        font-size: 2vw;
        padding: 3vw 3.3vw;
    }

    #over2 h4 {
        font-size: 2.4vw;
    }

    #over2 img{
        height: 3vw;
    }
    
    #scroll{
        height: 20vh;
        width: 100%;
    }

    #container{
        width: 120%;
        /* width:fit-content; */
        display: inline-block;
        padding: 1vw;
    }

    #scroll img{
        /* display: none; */
        height: 65%;
        width: 23.3%;
        margin: 0.9vw;
    }
        
    #alphabet{
        height: 6vh;
        width: 100%;
    }
    #alphabet h5{
        font-size: 3.5vw;
        letter-spacing: 2px;
    }

    #alphabet h6{
        font-size: 2vw;
        letter-spacing: 2px;
        padding: 0.2vw 0.3vw;
    }
    
    #page2{
        align-items: flex-start;
        padding: 0 2vw;
        margin-top: 3vw;
        /* background-color: red; */
        height: 60%;
    }

    #page2-part1{
        height: 100%;
        width: 55%;
        background-position: bottom;
    }
    #page2-part2{
        height: 100%;
        width: 42%;
    }
    #page2-part2 img{
        height: 60%;
        width: 100%;
    }
    
    #text h5 {
        font-size: small;
        text-transform: uppercase;
    }
    
    #text p {
        font-size: x-small;
    }


}